//-<Шрифты по умолчанию>=================================================
$font-family: 'Roboto', arial;
//-</Шрифты по умолчанию>================================================

//-<ПЕРЕМЕННЫЕ>==================================================================
$maxWidth: 1280px;
$minWidth: 320px;
$maxWidthContainer: 1300px;
//-<ПЕРЕМЕННЫЕ>==================================================================

//-<BREAKPOINTS>-================================================================
$md1: $maxWidthContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
//-</BREAKPOINTS>-=============================================================================

//<Custom BREAKPOINTS>====================================================================================================================================

//</Custom BREAKPOINTS>====================================================================================================================================

//Colors-------
$gold: #e9e3db;
$pale_green: #d6e2db;
$peach: #efddcd;
